<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

  <% if @task.completed == true %>
  <input type="checkbox" checked>This task is completed
  <% else %>
  <input type="checkbox">This task is not completed yet
  <% end %>
<br>
<%= link_to 'Back to index', tasks_path %>
</br>

<%= link_to 'Edit this task', edit_path %>

<br>
<%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</br>
